﻿<script>
    $(document).ready(function () {
        var ajaxGet = function (url, success) {
            return $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json; charset=utf-8",
                success: success
            });
        };
        var formatDate = function (strDate) {
            var date = new Date(strDate);
            var monthNames = [
                "January", "February", "March",
                "April", "May", "June", "July",
                "August", "September", "October",
                "November", "December"
            ];

            var day = date.getDate();
            var monthIndex = date.getMonth();
            var year = date.getFullYear();
            var hour = date.getHours();
            var minutes = date.getMinutes();
            var seconds = date.getSeconds();

            return monthNames[monthIndex] + " " + day + ", " + year + " " + hour + ":" + minutes + ":" + seconds;
        }
        $("#CurrentTimeBtn").click(function () {
            $("#OutputListTbl tbody").html("");
            ajaxGet("http://localhost:49196/api/currenttime/GetCurrentTimeList?timezone=" + $("#Timezone").children("option:selected").val(),
                function (responseList) {
                    var markUpList = "";
                    for (var i = 0; i < responseList.length; i++) {
                        markUpList += "<tr><td>" + responseList[i].currentTimeQueryId + "</td><td>" + formatDate(responseList[i].time) + "</td><td>" + responseList[i].clientIp + "</td><td>" + formatDate(responseList[i].utcTime) + "</td></tr>";
                    }
                    $("#OutputListTbl tbody").append(markUpList);
                    $("#OutputListTbl").css("display", "block");
                }
            );
        });
    });
</script>
<style>
    th {
        text-align: center;
    }
    td {
        text-align: center;
    }
</style>
<div class="container-fluid" style="background-color:lightblue;">
    <div class="row">
        <div class="col-lg-12"><h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <select class="col-lg-12" id="Timezone">
                @foreach (var item in TimeZoneInfo.GetSystemTimeZones())
                {

                    <option value="@item.StandardName">
                        @item.StandardName
                    </option>
                }
            </select>
            <input class="col-lg-12" type="button" id="CurrentTimeBtn" value="Submit" />
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table" id="OutputListTbl" style="display:none">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Time</th>
                        <th>Client IP</th>
                        <th>UTC Time</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
